<html>
<h4><a href="index.html">Return to Title Page</a></h4>
<h3>Add Employee</h3>
<from id="addemployee" action= "/employee" method="post">
    Id: <input type="number" name="id"<br>
    First Name: <input type= "text" name="fname"<br>
    Last Name: <input type= "text" name="lname"<br>
    <input type="submit" value="Submit">
</form> <br/>

<h3>Current Employee:</h3>
<table>
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        
    </thead>
    <tbody>
        <tr>
            <td>"id"</td>
            <td>"fname"</td>
            <td>lname</td>
        
        </tr>
    </tbody>
    </table>
    </html>