<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CS340: GROUP 20 SAMPLE WEBSITE</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <h2>WEBSITE THAT HANDLES LIBRARY CHECKOUT PROCESS</h2>
    <h4>MENU</h4>
    <ul  class = "menu">
        <li><a href="checkout.html">Done and wish to checkout</a></li>
        <li><a href="book.html">Look at the Available Books</a></li>
        <li><a href="movie.html">Look at the Available Movies</a></li>
        <li><a href="employee.html">Employee Login</a></li>
        <li><a href="customer.html"> Customer Login</a></li>
    </ul>
    <!--<h5>Return</h5>
    <ul class = "return">
        <li ><a href="returnBook"> Return Book</a></li>
        <li ><a href="returnMovie"> Return Movie</a></li>
    </ul>-->
</body>
