<!doctype html>
<html>
<head>
	<title>Library</title>
  <link rel="stylesheet" href="/style.css">
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
    <div id=menuBar>
        <nav class=menuList>
             <a href="/books">See Books</a>
             <a href='/movies'>See Movies</a>
                    
            <a href="/customer">Customers</a>
            <a href='/employee'>Employees</a>
            <a href='/checkout'>Check Out</a>
       </nav>

    </div>
    <h4>Home Page</h4>
    {{{body}}}

</body>
</html>